<form>
  <input type="text" name="nombre" #inputNombre>
  <button type="button" (click)="agregarnombre(inputNombre.value)">Agregar nombre</button>
  <button type="button" (click)="agregarOtraForma(inputNombre.value)">Agregar otra forma</button>
</form>


<form >
  <!-- <input type="text" name="apellido" [value]="pApellido" (input)="pApellido = $event.target.value" #inputApellido> -->
  <!-- <input type="text" name="apellido" [ngModel]="pApellido" (ngModelChange) = "pApellido = $event"> -->
  <!-- <input type="text" name="apellido" [ngModel]="pApellido" (ngModelChange) = "saludar($event)"> -->
  <input type="text" name="apellido" [(ngModel)]="pApellido">
  <br>
  {{pApellido}}
  <br>
  <button type="button" (click)="agregarApellido()">Agregar apellido</button>
</form>

<!-- <div mi-directiva colorPorDefecto="navy" colorHover="pink">
  Texto de la directiva
</div>
<div mi-directiva colorPorDefecto="red" colorHover="orange">
  Texto de la directiva 2
</div>

<div mi-directiva [colorPorDefecto]="color1" [colorHover]="color2">
  Texto de la directiva 3
</div> -->

<div mi-directiva= "navy" colorHover="pink">
  Texto de la directiva
</div>

<div mi-directiva ="red" colorHover="orange">
  Texto de la directiva 2
</div>

<div [mi-directiva]="color1" [colorHover]="color2">
  Texto de la directiva 3
</div>

<br>
<hr>
<br>
<div class="zonaArrastre" appSubirArchivos (outHover)="movimiento($event)" [ngClass]="{activo: estado} ">

</div>
